@media screen and (max-width: 600px){
    .header-search,
    .setting-icon-header,
    .sidebar-profile-bottom {
        display: none !important;
    }

    .datagrid-table-view-accounts {
        margin: 15px 0 0 0 !important;
    }
}

@media screen and (max-width: 500px){
    .header-search,
    .setting-icon-header,
    .sidebar-profile-bottom  {
        display: none !important;
    }

    .datagrid-table-view-accounts {
        margin: 15px 0 0 0 !important;
    }
}

@media screen and (max-width: 400px){
    .header-search,
    .setting-icon-header,
    .sidebar-profile-bottom  {
        display: none !important;
    }
    .datagrid-table-view-accounts {
        margin: 15px 0 0 0 !important;
    }
}